Step 1 - Data Engineering

The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.

Create a Jupyter Notebook file called data_engineering.ipynb and use this to complete all of your Data Engineering tasks.
Use Pandas to read in the measurement and station CSV files as DataFrames.
Inspect the data for NaNs and missing values. You must decide what to do with this data.
Save your cleaned CSV files with the prefix clean_.

In [87]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [88]:
csv_path1='Resources/hawaii_measurements.csv'
meas_df = pd.read_csv(csv_path1)
csv_path2='Resources/hawaii_stations.csv'
station_df = pd.read_csv(csv_path2)

print(meas_df.dtypes)
print(meas_df.dtypes)

print(meas_df.columns.values)
print(station_df.columns.values)

print(station_df['name'].unique)

print(meas_df.head())
print(station_df.head())

print(pd.isnull(station_df))
print(pd.isnull(meas_df))

station     object
date        object
prcp       float64
tobs         int64
dtype: object
station     object
date        object
prcp       float64
tobs         int64
dtype: object
['station' 'date' 'prcp' 'tobs']
['station' 'name' 'latitude' 'longitude' 'elevation']
<bound method Series.unique of 0                      WAIKIKI 717.2, HI US
1                      KANEOHE 838.1, HI US
2    KUALOA RANCH HEADQUARTERS 886.9, HI US
3                         PEARL CITY, HI US
4                UPPER WAHIAWA 874.3, HI US
5        WAIMANALO EXPERIMENTAL FARM, HI US
6                       WAIHEE 837.5, HI US
7         HONOLULU OBSERVATORY 702.2, HI US
8              MANOA LYON ARBO 785.2, HI US
Name: name, dtype: object>
       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73
       station                                    name  latitude  longitude  \
0  USC00519397                    WAIKIKI 717.2, HI US   21.2716  -157.8168
1  USC00513117                    KANEOHE 838.1, HI US   21.4234  -157.8015
2  USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US   21.5213  -157.8374
3  USC00517948                       PEARL CITY, HI US   21.3934  -157.9751
4  USC00518838              UPPER WAHIAWA 874.3, HI US   21.4992  -158.0111

   elevation
0        3.0
1       14.6
2        7.0
3       11.9
4      306.6
   station   name  latitude  longitude  elevation
0    False  False     False      False      False
1    False  False     False      False      False
2    False  False     False      False      False
3    False  False     False      False      False
4    False  False     False      False      False
5    False  False     False      False      False
6    False  False     False      False      False
7    False  False     False      False      False
8    False  False     False      False      False
       station   date   prcp   tobs
0        False  False  False  False
1        False  False  False  False
2        False  False  False  False
3        False  False  False  False
4        False  False   True  False
5        False  False  False  False
6        False  False  False  False
7        False  False  False  False
8        False  False  False  False
9        False  False  False  False
10       False  False  False  False
11       False  False  False  False
12       False  False  False  False
13       False  False  False  False
14       False  False  False  False
15       False  False  False  False
16       False  False  False  False
17       False  False  False  False
18       False  False  False  False
19       False  False  False  False
20       False  False  False  False
21       False  False  False  False
22       False  False  False  False
23       False  False  False  False
24       False  False  False  False
25       False  False  False  False
26       False  False   True  False
27       False  False  False  False
28       False  False  False  False
29       False  False   True  False
...        ...    ...    ...    ...
19520    False  False  False  False
19521    False  False  False  False
19522    False  False  False  False
19523    False  False  False  False
19524    False  False  False  False
19525    False  False  False  False
19526    False  False  False  False
19527    False  False  False  False
19528    False  False   True  False
19529    False  False  False  False
19530    False  False  False  False
19531    False  False   True  False
19532    False  False   True  False
19533    False  False  False  False
19534    False  False  False  False
19535    False  False  False  False
19536    False  False  False  False
19537    False  False   True  False
19538    False  False  False  False
19539    False  False   True  False
19540    False  False  False  False
19541    False  False  False  False
19542    False  False  False  False
19543    False  False  False  False
19544    False  False   True  False
19545    False  False  False  False
19546    False  False   True  False
19547    False  False  False  False
19548    False  False  False  False
19549    False  False  False  False

[19550 rows x 4 columns]

In [89]:
print(meas_df.count())
#meas_df= meas_df[pd.notnull(meas_df)]
meas_df=meas_df.dropna()
print(meas_df.count())

meas_df['date']=  pd.to_datetime(meas_df['date'], format='%Y-%m-%d')

#Between 2016/08/23 to 2017/08/23

meas_df=meas_df[(meas_df['date'] > '2016-08-23') & (meas_df['date'] < '2017-08-23')]
print(meas_df.count())

meas_df.head(5)

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64
station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64
station    2011
date       2011
prcp       2011
tobs       2011
dtype: int64

          station       date  prcp  tobs
2364  USC00519397 2016-08-24  0.08    79
2365  USC00519397 2016-08-25  0.08    80
2366  USC00519397 2016-08-26  0.00    79
2367  USC00519397 2016-08-27  0.00    77
2368  USC00519397 2016-08-28  0.01    78

In [90]:
print(station_df.count())
station_df['name'] = station_df['name'].str.replace(', HI US', '')
station_df

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

,station,name,latitude,longitude,elevation
0,USC00519397,WAIKIKI 717.2,21.27160,-157.81680,3.0
1,USC00513117,KANEOHE 838.1,21.42340,-157.80150,14.6
2,USC00514830,KUALOA RANCH HEADQUARTERS 886.9,21.52130,-157.83740,7.0
3,USC00517948,PEARL CITY,21.39340,-157.97510,11.9
4,USC00518838,UPPER WAHIAWA 874.3,21.49920,-158.01110,306.6
5,USC00519523,WAIMANALO EXPERIMENTAL FARM,21.33556,-157.71139,19.5
6,USC00519281,WAIHEE 837.5,21.45167,-157.84889,32.9
7,USC00511918,HONOLULU OBSERVATORY 702.2,21.31520,-157.99920,0.9
8,USC00516128,MANOA LYON ARBO 785.2,21.33310,-157.80250,152.4

In [91]:
station_df.to_csv('resources/clean_station_df.csv', encoding='utf-8', index=False)
meas_df.to_csv('resources/clean_meas_df.csv', encoding='utf-8', index=False)